// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  color: #333333;
}

.question {
  background-color: lightslategrey;
  opacity: 0.5;
}

.answer {
  background-color: lightsalmon;
  opacity: 0.5;
}

.link {
  text-decoration: none;
  color: lightseagreen
}
